<!doctype html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <title>Vue Template</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js" crossorigin="anonymous"></script>
</head>

<style>
  html, body {
    background-color: rgb(196, 222, 255);
    height: 100%;
  }

  body {
    display: grid;
    place-items: center;
  }

  li {
    list-style-type: none;
  }

  #container {
    width: 350px;
    word-wrap: break-word; 
  }


</style>

<body>  
  <div id="app" class="grid-container">
    <div class="grid-y grid-padding-y">
      <h1><b>Note Taker</b></h>
    <div class="medium-6 cell">
      <input type="text" v-model="note" placeholder="Enter notes here..." />
    </div>
    <p>
    <button class="submit success button" @click="add" >Create Note</button>
    </p>
  </div>

  <div v-if="notes.length > 0" >
    <h2><u>Notes</u></h2>
    <ul>
    <li v-for="(note,index) in notes" :key="index" class="grid-x">
      <div id="container" class="callout">
    <label>
      {{note}} 
      
    </label>
    
      </div>

      <label>
        <button  type="button" class="alert button tiny" @click="remove(index)" >Remove</button>
      </label>
  
      </li>
    </ul>
  
  </div>

  </div>

  <script>
    Vue.createApp({
        data() {
           return {
            notes: [],
            note:''
           };
        },
        methods: {
          add() {
              if (this.note.trim() !== '') {
                this.notes.push(this.note);
                this.note = '';
              }
          },
          remove(index) {
            this.notes.splice(index, 1);
          }
    
        }
    }).mount('#app');
  </script>
</body>
</html>
